@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$color1: #2d132c;
$color2: #801336;
$color3: #c72c41;
$color4: #ee4540;
$color5: #EF7674;
$color6: #ffffff;
$color7: #000000;
$font-family:'Ubuntu Condensed',sans-serif;
$font-family2: 'Pacifico',cursive;



*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 8px;
  font-family: $font-family;
}

html {
  background-color: $color3;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-color: $color5;
  scroll-behavior: smooth;
}

header {
  width: 100vw;
  height: 13vh;
  background-color: $color1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  h1 {
      margin-left: 2vw;
      font-size: 2.5em;
      color: $color3;
    }
  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 2vw;
    margin-right: 5vw;
    padding: 0.5vh 0.8vw;
    background-color: $color3;
    border-radius: 1em;
    .img {
      width: 3em;
      &:hover {
        transform: scale(1.2);
      }
    }
    }  
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  .main-title {
    margin-top: 2vh;
    font-size: 3em;
  }
  .loader {
    margin-top: 5em;
    width: 15em;
    height: 15em;
    border: 1em solid $color1;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    &::after {
      content: '';
      box-sizing: border-box;
      position: absolute;
      left: -1.5em;
      top: 5em;
      background: $color6;
      width: 2em;
      height: 2em;
      transform: translate(-50%, 50%);
      border-radius: 50%;
      }
    }
  .container {
    margin-top: 2.5vh;
    gap: 2.5vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2vh;
    .card {
      background-color: $color2;
      width: 80vw;
      height: 15vh;
      border-radius: 1.5em;
      justify-content: center;
      align-items: left;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      &:hover {
        background-color: $color1;
        .card-title{ color: $color6}
        .card-time { color: $color7}
      }
      .card-title {
        margin: 0 auto;
        font-size: 1.8em;
        width: 75vw;
        text-transform: uppercase;
      }
      .card-data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 3vw;
        .card-link {
            font-size: 1.6em;
            text-transform: uppercase;
            text-decoration: none;
            color: $color5;
            &:hover {
              text-decoration: underline;
              color: rgba($color5, $alpha: 0.5);
            }
          }
          .card-time {
            font-size: 1.5em;
            font-family: $font-family2;
            color: rgba($color6, $alpha: 0.7);
          }
      }
    }
  }
  .load-more {
    background-color: $color4;
    border: none;
    margin: 5vh auto;
    width: 10em;
    height: 3em;
    border-radius: 5em;
    font-weight: 600;
    font-size: 1.8em;
    cursor: pointer;
    text-transform: uppercase;
    font-family: $font-family;
    &:hover {
      background-color: rgba($color4, $alpha: 0.6);
    }
    &:active {
      background-color: rgba($color4, $alpha: 0.9);
    }
  }
  .up-btn, .down-btn {
    background-color: $color6;
    border: 0.1em solid $color1;
    padding: 0.3em 0.7em;
    border-radius: 50%;
    color: $color1;
    text-decoration: none;
    font-size: 3em;
    &:hover {
      background-color: rgba($color6, $alpha: 0.7);
    }
    &:active {
      background-color: rgba($color5, $alpha: 0.5);
    }
  }
  .up-btn {
    position: fixed;
    bottom: 3.5em;
    right: 1em;
  }
  .down-btn {
      position: fixed;
        bottom: 1em;
        right: 1em;
  }
}

footer {
  background-color: $color2;
  height: fit-content;
  width: 100vw;
  .created-by {
    font-size: 1.5em;
    text-align: center;
    padding: 2vh 0;
    a {
      color: $color5;
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@media screen and (min-width:768px) and (max-width:1023px) and (min-height: 650px) {

  :root {
    font-size: 11px;
  }

  header {
    ul {
      padding: 1.5vh 1.5vw;
      .img {
        width: 4em;
      }
    }
  }

  main {
    .container {
      grid-template-columns: 1fr 1fr;
      .card {
        width: 45vw;
        .card-title {
          width: 40vw;
        }
      }
    }
  }
}

@media  screen and (min-width:1024px) {

  :root {
    font-size: 12px;
  }

    header {
      ul {
        padding: 1.5vh 1.5vw;
        .img {
          width: 4em;
        }
      }
    }

  main {
    .container{
      grid-template-columns: 1fr 1fr;
      .card {
        width: 45vw;
        .card-title {
          width: 40vw;
        }
      }
    }
  }
}