*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

header {
  width: 100vw;
  height: 12vh;
  background-color: #00425A;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  h1 {
      margin-left: 2vw;
      font-size: 2.5vw;
      color: #BFDB38;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 1vw;
    margin-right: 2vw;
    padding: 1vh 1vw;
    background-color: #1F8A70;
    border-radius: 10px;
    .img {
      width: 3vw;
      &:hover {
        transform: scale(1.2);
      }
    }
    }  
}

main {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}


